@import url(style-global.css);

footer {
    padding: 32px 0;
    background-color: var(--cinza1);
}

.footer-text {
    text-align: center;
}

.footer-text > a{
    color: var(--azul1);
    text-decoration: none;
    transition: color .2s;
}

.footer-text > a:hover{
    color: var(--azul2);
}