@import url('https://fonts.googleapi.com/css?family=Manrope:wght@400;500;600;700;800&display=swap');

:root {
    /* Cores */
    --preto: black;    
    --azul0: rgba(66, 66, 230, 0.267);
    --azul1: rgb(53, 53, 179);
    --azul2: rgb(25, 25, 121);
    --vermelho0: rgb(84, 4, 4);
    --vermelho1: rgb(177, 8, 8);
    --vermelho1: rgb(177, 8, 8);
    --amarelo0: rgb(127, 127, 2);
    --amarelo1: rgb(164, 164, 4);
    --amarelo2: rgb(196, 196, 3);
    --amarelo3: rgb(235, 235, 4);
    --cinza0: rgb(127, 126, 126);
    --cinza1: rgb(175, 172, 172);
    --cinza2: rgb(236, 230, 230);
    --cinza3: rgb(244, 243, 243);
    --branco: white;

    /* tamanhos letras */
    --h1: 30px;
    --h2: 26px;
    --h3: 24px;
    --h4: 20px;
    --h5: 16px;
    --h6: 12px;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Manrope', sans-serif;
}

body > * {
    width: 100%;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 16px;
}

.btn {
    padding: 10px 16px;
    cursor: pointer;
    font-size: var(--h5);
    font-weight: 600;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    transition: all .2s;
}

.btn-blue {
    background-color: var(--azul1);
    border: 1px solid var(--azul1);
    color: var(--branco);
}

.btn-blue:hover {
    background-color: transparent;
    border: 1px solid var(--azul1);
    color: var(--azul1);
}

.btn-outline-blue {
    background-color: transparent;
    border: 1px solid var(--azul1);
    color: var(--azul1);
}

.btn-outline-blue:hover {
    background-color: var(--azul1);
    border: 1px solid var(--azul1);
    color: var(--branco);
}


@media screen and (max-device-width: 1400px) {
    .container {
        max-width: 1160px;
    }
}

@media screen and (max-device-width: 1024px) {
    .container {
        max-width: 784px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 548px;
    }
}

@media screen and (max-width: 425px) {
    .container {
        max-width: 425px;
    }
}

@media screen and (max-width: 375px) {
    .container {
        max-width: 375px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 320px;
    }
}